@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Great+Vibes&display=swap');

*{
  padding: 0;
  margin: 0;
  color: var(--textColor);
}
#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--readFont);
  font-weight: 400;
  background-color: #CCC1BC;
  min-height: 100vh;
}
div, section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
h1{
  line-height: 1.25em;
  font-family: var(--graficFont);
}
input{
  background: var(--lightColor);
  border-radius: 20px;
  font-size: 28px;
  padding: 10px 15px;
  border: none;
}
label{
  text-align: left;
  font-size: 30px;
}
button{
  width: 250px;
  padding: 10px;
  background-color: var(--accentColor);
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--lightColor);
  font-family: var(--readFont);
  cursor: pointer;
}
.additional{
  background-color: rgba(0, 0, 0, 0);
  color: var(--textColor);
  font-size: 24px;
  width: auto;
  height: auto;
  padding: 0;
}

/* auth page */
.enter{
  width: 100%;
  height: 100vh;
  background: var(--middleColor1);
}
.enter h1{
  font-size: 100px;
  width: 45%;
}
.enter h2{
  font-weight: 400;
  margin-bottom: 28px;
}
.enter div{
  width: 45%;
  flex-direction: column;
  margin-top: 28px;
}
.enter input{
  width: 75%;
  margin-bottom: 20px;
}
.enter label{
  width: calc(75% + 30px);
}
.auth{
  margin: 20px 0;
}

/* profile */
.profile{
  width: 100%;
  padding: 30px 0;
  background-color: var(--middleColor2);
  align-items: flex-start;
}
.profile h1{
  font-size: 96px;
}
.avatar{
  border-radius: 500px;
  width: 200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
.aboutMe{
  width: 60%;
  text-align: left;
  justify-content: flex-start;
}
.aboutMe h2{
  font-size: 36px;
  font-weight: 500;
}
.settings{
  width: 7%;
  justify-content: space-between;
}
.iconButton{
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  padding: 0;
}
.iconButton img{
  width: 100%;
}

/* navList */
nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  font-size: 38px;
}
nav li{
  list-style: none;
  cursor: pointer;
  font-family: var(--graficFont);
}
nav ul{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
nav .active{
  text-decoration: underline var(--accentColor);
  color: var(--accentColor);
}
.add{
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  font-weight: bolder;
  color: var(--textColor);
  font-size: 42px;
  padding: 0;
  padding-bottom: 5px;
}

.list{
  width: 100%;
  min-height: 50vh;
  height: 100%;
  flex-grow: 2;
}


.features{
  display: flex;
  justify-content: space-between;
}
.icon{
  /* height: 45px; */
  width: 45px;
  color: #452F24;
  background: none ;
  border: none;
  font-family: "Cormorant Unicase", serif;
  font-size: 48px;
  display: flex;
  align-items: center;
  margin-left: 7px;
}
main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.modal{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 50%;
  height: 70%;
  /* background-color: #C2B3A3; */
  display: flex;
  flex-wrap: wrap;
  /* align-items: start; */
  /* flex-direction: column;
  justify-content: space-between; */
}
.addCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fields{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
h2{
  width: 100%;
  font-size: 50px;
}
.close{
  width: 100%;
  text-align: right;
  font-size: 50px;
  height: fit-content;
  line-height: 0;
}

.swiper-wrapper{
  width: 80%;
  height: auto;
}
.card_small{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_small img{
  width: 75%;
  max-height: 200px;
}
.card_small h2{
  font-size: 32px;
  line-height: 1;
}
.card_small button{
  width: 80%;
  height: auto;
  font-size: 25px;
}